:root {
  --primary-color: #41e1ba;
  --secundary-color: #EF5D50;
  --primary-color-dark: #267965f9;
  --secundary-color-dark: #a0433a;
  --primary-color-white: #fff;
  --primary-color-black: #000;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-size: sans-serif;
  background: var(--primary-color);
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.working {
  background: var(--secundary-color);
}

.hidden {
  display: none;
}

.pomodoro {
  background: var(--primary-color-white);
  margin: 50px 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.pomodoro h2 {
  font-size: 24px;
  text-align: center;
}

.pomodoro .timer {
  font-size: 6rem;
  text-align: center;
}

.pomodoro .controls{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pomodoro button {
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  color: var(--primary-color-black);
  transition: background-color 300ms ease-in-out;
  margin: 20px auto;
}

.working .pomodoro button {
  background: var(--secundary-color);
  color: var(--primary-color-white);
}

.pomodoro .details{
  margin: 20px 0;
}
